<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labs.okey.commonride" >

    <permission
        android:name="com.labs.okey.commonride.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.labs.okey.commonride.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_48"
        android:label="@string/app_name"
        android:logo="@drawable/launcher_48"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.labs.okey.commonride" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/launcher_48"
            android:label="@string/common_rides"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SingleRideActivity"
            android:label="@string/title_activity_single_ride"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".AddRideActivity"
            android:label="@string/title_activity_add_ride"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".RideMapActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/title_activity_ride_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyRidesActivity"
            android:label="@string/title_activity_my_rides"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBJryLCLoWeBUnSTabBxwDL4dWO4tExR1c" />

        <activity
            android:name=".SettingsTabsActivity"
            android:label="@string/title_activity_tabs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".RateActivity"
            android:label="@string/title_activity_rate" >
        </activity>
    </application>

</manifest>
